* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
   background: #D7D7D7;
   width: 100%;
   display: flex;
}
.users {
  display: flex;
  flex-direction: column;
}

.box {
  margin-left: 63px;
  margin-top: 77px;
}

.userBtn {
  width: 255px;
  height: 71px;
  background: #6A84C7;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Verdana';
  color: #F5F5F5;
  border: none;
  margin-top: 13px;
  cursor: pointer;
  transition: 0.5s;

}

.userBtn:hover {
  background: #54C96D;
  transform: scale(1.1);
}

.userBtn:active {
  border-radius: 5px;
  transform: scale(0.9);
}


.loader {
  color: #000000;
  text-align: center;
  font-weight: 400;
  font-size: 50px;
  font-family: 'Verdana';
  margin-top: 385.5px;
  margin-left: 328px;
}

.completed {
  text-decoration: line-through;
}

.error {
  color: #D52626;
  font-size: 50px;
  text-align: center;
  margin: 235px 26%;
  font-family: 'Verdana';
}

.errorTd {
  color: #D52626;
  font-size: 35px;
}

.todo-title {
  font-family: 'Verdana';
  font-size: 40px;
  color: #000000;
  margin-left: 62px;
  margin-top: 88px;
}

.todos {
width: 816.61px;
height: 683.33px;
margin-left: 62px;
margin-top: 11px;
background: #FFFFFF;
color: #000000;
padding: 68px;
}
